In [1]:
import pandas as pd

In [2]:
data_path = 'data/thermopoints.csv'
df = pd.read_csv(data_path, sep=';')
df

                dt        type_name  type_id       lon      lat
0       2012-03-13  Природный пожар        4  131.5866  47.8662
1       2012-03-13  Природный пожар        4  131.5885  47.8809
2       2012-03-13     Лесной пожар        3  131.9871  48.4973
3       2012-03-13  Природный пожар        4  131.9031  43.6277
4       2012-03-13  Природный пожар        4  131.5706  47.8581
...            ...              ...      ...       ...      ...
660249  2021-09-10     Лесной пожар        3  118.5451  64.7475
660250  2021-09-10     Лесной пожар        3  118.3046  64.7629
660251  2021-09-10     Лесной пожар        3  117.9681  65.7394
660252  2021-09-10     Лесной пожар        3  119.0462  64.7541
660253  2021-09-10     Лесной пожар        3  114.6958  64.5745

[660254 rows x 5 columns]

I needed only a year of each fire to aggregate annual data

In [3]:
df['year'] = df['dt'].apply(lambda x: x.split("-")[0])

In [4]:
df['year'] = df['dt'].apply(lambda x: int(x[:4]))
df

                dt        type_name  type_id       lon      lat  year
0       2012-03-13  Природный пожар        4  131.5866  47.8662  2012
1       2012-03-13  Природный пожар        4  131.5885  47.8809  2012
2       2012-03-13     Лесной пожар        3  131.9871  48.4973  2012
3       2012-03-13  Природный пожар        4  131.9031  43.6277  2012
4       2012-03-13  Природный пожар        4  131.5706  47.8581  2012
...            ...              ...      ...       ...      ...   ...
660249  2021-09-10     Лесной пожар        3  118.5451  64.7475  2021
660250  2021-09-10     Лесной пожар        3  118.3046  64.7629  2021
660251  2021-09-10     Лесной пожар        3  117.9681  65.7394  2021
660252  2021-09-10     Лесной пожар        3  119.0462  64.7541  2021
660253  2021-09-10     Лесной пожар        3  114.6958  64.5745  2021

[660254 rows x 6 columns]

In [5]:
df['dt'] = df['dt'].apply(pd.to_datetime)

Checking unique categories of fires that persist in the dataaset

In [6]:
df.type_name.unique()

array(['Природный пожар', 'Лесной пожар', 'Контролируемый пал',
       'Неконтролируемый пал', 'Торфяной пожар'], dtype=object)

In [7]:
df.dtypes

dt           datetime64[ns]
type_name            object
type_id               int64
lon                 float64
lat                 float64
year                  int64
dtype: object

Making a table aggregated by category through the whole time

In [10]:
df_categories = df[['type_name', 'dt']].groupby(by=['type_name']).count()
df_categories

                          dt
type_name
Контролируемый пал    101719
Лесной пожар          306553
Неконтролируемый пал  154483
Природный пожар        97037
Торфяной пожар           462

In [11]:
df_categories.to_csv('overall_categories.csv')

Making a table aggregated by both category and year columns for the main part of composition

In [26]:
df = df[['year', 'type_name', 'dt']].groupby(by=['year', 'type_name']).count()

In [27]:
df

                              dt
year type_name
2012 Контролируемый пал      327
     Лесной пожар          18428
     Неконтролируемый пал   2706
     Природный пожар        5089
     Торфяной пожар           27
2013 Контролируемый пал     5627
     Лесной пожар           8719
     Неконтролируемый пал   5371
     Природный пожар        4384
     Торфяной пожар           17
2014 Контролируемый пал     8365
     Лесной пожар          18337
     Неконтролируемый пал  23484
     Природный пожар        8646
     Торфяной пожар           66
2015 Контролируемый пал     6713
     Лесной пожар          18221
     Неконтролируемый пал  14054
     Природный пожар        8600
     Торфяной пожар           10
2016 Контролируемый пал     5915
     Лесной пожар          18542
     Неконтролируемый пал  25822
     Природный пожар        9615
     Торфяной пожар           11
2017 Контролируемый пал    14916
     Лесной пожар          10791
     Неконтролируемый пал  10296
     Природный пожар        6106
     Торфяной пожар            7
2018 Контролируемый пал    12704
     Лесной пожар          19216
     Неконтролируемый пал   8323
     Природный пожар        8731
2019 Контролируемый пал    18075
     Лесной пожар          31298
     Неконтролируемый пал  13591
     Природный пожар       12097
     Торфяной пожар            1
2020 Контролируемый пал    17071
     Лесной пожар          79065
     Неконтролируемый пал  24759
     Природный пожар       21440
     Торфяной пожар           22
2021 Контролируемый пал    12006
     Лесной пожар          83936
     Неконтролируемый пал  26077
     Природный пожар       12329
     Торфяной пожар          301

In [29]:
df.to_csv('preprocessed_dataset.csv')